name: client tests with postgres and backend
on: push

jobs:
  tests:
    runs-on: ubuntu-latest
    # Postgresql container
    services:
      postgres:
        # Docker Hub image
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: todo_managertest
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          -t
          -i
        ports:
          - 5432:5432

    steps:

      - name: Install node
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Create Postgresql tables
        run: npm install pg && node script.js
        working-directory: ./database
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432

      - name: Start frontend
        run: |
          npm install
          npm start &
        working-directory: client
        
      - name: Start backend
        run: |
          npm install
          npm start &
        working-directory: server-js
        env:
          DATABASE: postgres://postgres:postgres@localhost:5432/todo_managertest
      
      - name: Run cypress tests
        run: npm run test-cypress
        working-directory: client

      - name: Run tests
        run: npm test
        working-directory: client

