name: E2E Tests
on:
  push:
    branches:
      - master
      - dev

jobs:
  tests:
    runs-on: ubuntu-latest
    # Postgresql container
    services:
      postgres:
        # Docker Hub image
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: todo_managertest
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          -t
          -i
        ports:
          - 5432:5432

    steps:

      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Create Postgresql tables
        run: npm install pg && node prepare_test_data.js
        working-directory: ./database
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432

      - name: Start frontend
        run: |
          npm install
          npm start &
        working-directory: client
        
      - name: Start backend
        run: |
          npm install
          npm start &
        working-directory: server-js
        env:
          DATABASE: postgres://postgres:postgres@localhost:5432/todo_managertest

      - name: Run unit tests
        run: npm run test:unit
        working-directory: client

      - name: Run cypress tests
        run: npm run test:cypress
        working-directory: client

      - name: Run playwright tests
        run: npm run test:playwright
        working-directory: client

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Start selenoid
        uses: Xotabu4/selenoid-github-action@v1   

      - name: Run selenide tests
        run: mvn test
        working-directory: selenide
        env:
          selenide.remote: http://localhost:4444/wd/hub

